<!DOCTYPE html>
 <!-- 
 * @edit.ejs
 *
 * Editing view, same as todo but with an editable dynamic list given a mongo
 * objectID
 *
 * Authors: Carla Perez & Carlos Garcia 
-->


<html lang="en">
    
    <!-- HEAD -->
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chef Vous</title>
        <link rel="icon" href="pictures/CV-Logo.png"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css"> 

    </head>


    <!-- BODY -->
    <body>
        <header>

            <!-- NAVBAR -->
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="pictures/CV-Logo.png" alt="Chef Vous Logo" width=65rem> 
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Cookbook
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">All</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Appetizer</a></li>
                                        <li><a class="dropdown-item" href="#">Main Course</a></li>
                                        <li><a class="dropdown-item" href="#">Dessert</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Breakfast</a></li>
                                        <li><a class="dropdown-item" href="#">Lunch</a></li>
                                        <li><a class="dropdown-item" href="#">Dinner</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Vegan</a></li>
                                        <li><a class="dropdown-item" href="#">Gluten-Free</a></li>
                                        <li><a class="dropdown-item" href="#">Low-Carb</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="What dish is on your mind?" aria-label="What dish is on your mind?">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section class="banner">
            <h1><span>Trendy Recipes</span></h1>

            <section class="wrapper">
                <div class="container">
                    <!-- CARDS -->
                    <div class="row">

                        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                        <div class="col-sm-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://www.lavanguardia.com/files/article_main_microformat/files/fp/uploads/2020/09/09/5f58b1bb6d322.r_d.627-418-0.jpeg');">
                            <img class="card-img d-none" src="https://www.lavanguardia.com/files/article_main_microformat/files/fp/uploads/2020/09/09/5f58b1bb6d322.r_d.627-418-0.jpeg" alt="Featured Dish">
                            <div class="card-img-overlay d-flex flex-column">
                                <div class="card-body">
                                    <small class="card-meta mb-2">Main Course</small>
                                    <h4 class="card-title mt-0 "><a class="text-white" herf="#">Spaghetti alla marinara</a></h4>
                                    <small><i class="far fa-clock"></i>45 min.</small>
                                    <br> <br>
                                    <small>Marinara is probably the simplest of all the classically Italian and Italian-American pasta sauces. It consists of only a handful of ingredients—depending on whose kitchen you’re in—and can be finished on the stovetop in about as much time as it takes to boil a pot of water and cook a box of dry pasta.</small>
                                </div>
                                <div class="card-footer">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Featured Chef" style="max-width:50px">
                                        <div class="media-body">
                                            <h6 class="my-0 text-white d-block">Gino D'Acampo</h6>
                                            <small>Professional Chef, The Morning Show</small>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div></div>

                        <div class="col-sm-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://i.ytimg.com/vi/n0ymEFZJBho/maxresdefault.jpg');">
                            <img class="card-img d-none" src="https://i.ytimg.com/vi/n0ymEFZJBho/maxresdefault.jpg" alt="Featured Dish">
                            <div class="card-img-overlay d-flex flex-column">
                                <div class="card-body">
                                    <small class="card-meta mb-2">Dessert</small>
                                    <h4 class="card-title mt-0 "><a class="text-white" herf="#">Spaghetti alla marinara</a></h4>
                                    <small><i class="far fa-clock"></i>45 min.</small>
                                    <br> <br>
                                    <small>Marinara is probably the simplest of all the classically Italian and Italian-American pasta sauces. It consists of only a handful of ingredients—depending on whose kitchen you’re in—and can be finished on the stovetop in about as much time as it takes to boil a pot of water and cook a box of dry pasta.</small>
                                </div>
                                <div class="card-footer">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Featured Chef" style="max-width:50px">
                                        <div class="media-body">
                                            <h6 class="my-0 text-white d-block">Gino D'Acampo</h6>
                                            <small>Professional Chef, The Morning Show</small>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div></div>

                        <div class="col-sm-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://www.lavanguardia.com/files/article_main_microformat/files/fp/uploads/2020/09/09/5f58b1bb6d322.r_d.627-418-0.jpeg');">
                            <img class="card-img d-none" src="https://www.lavanguardia.com/files/article_main_microformat/files/fp/uploads/2020/09/09/5f58b1bb6d322.r_d.627-418-0.jpeg" alt="Featured Dish">
                            <div class="card-img-overlay d-flex flex-column">
                                <div class="card-body">
                                    <small class="card-meta mb-2">Main Course</small>
                                    <h4 class="card-title mt-0 "><a class="text-white" herf="#">Spaghetti alla marinara</a></h4>
                                    <small><i class="far fa-clock"></i>45 min.</small>
                                    <br> <br>
                                    <small>Marinara is probably the simplest of all the classically Italian and Italian-American pasta sauces. It consists of only a handful of ingredients—depending on whose kitchen you’re in—and can be finished on the stovetop in about as much time as it takes to boil a pot of water and cook a box of dry pasta.</small>
                                </div>
                                <div class="card-footer">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Featured Chef" style="max-width:50px">
                                        <div class="media-body">
                                            <h6 class="my-0 text-white d-block">Gino D'Acampo</h6>
                                            <small>Professional Chef, The Morning Show</small>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div></div>


                        <div class="col-sm-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://www.lavanguardia.com/files/article_main_microformat/files/fp/uploads/2020/09/09/5f58b1bb6d322.r_d.627-418-0.jpeg');">
                            <img class="card-img d-none" src="https://www.lavanguardia.com/files/article_main_microformat/files/fp/uploads/2020/09/09/5f58b1bb6d322.r_d.627-418-0.jpeg" alt="Featured Dish">
                            <div class="card-img-overlay d-flex flex-column">
                                <div class="card-body">
                                    <small class="card-meta mb-2">Main Course</small>
                                    <h4 class="card-title mt-0 "><a class="text-white" herf="#">Spaghetti alla marinara</a></h4>
                                    <small><i class="far fa-clock"></i>45 min.</small>
                                    <br> <br>
                                    <small>Marinara is probably the simplest of all the classically Italian and Italian-American pasta sauces. It consists of only a handful of ingredients—depending on whose kitchen you’re in—and can be finished on the stovetop in about as much time as it takes to boil a pot of water and cook a box of dry pasta.</small>
                                </div>
                                <div class="card-footer">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Featured Chef" style="max-width:50px">
                                        <div class="media-body">
                                            <h6 class="my-0 text-white d-block">Gino D'Acampo</h6>
                                            <small>Professional Chef, The Morning Show</small>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div></div>

                        <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

                    </div>
                </div>
            </section>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>

    <!-- FOOTER -->
    <footer>
    </footer>

</html>
